* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  padding-top: 20px;
  width: 200px;
  padding-bottom: 20px;
}
h1 {
  color: white;
  margin-bottom: 20px;
}
p {
  color: white;
}
