* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.a {
  text-decoration: none;
}
.ol,
ul {
  list-style: none;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  padding-top: 200px;
  width: 200px;
  padding-bottom: 20px;
}
.theme {
  color: white;
  padding-bottom: 20px;
  font-size: 48px;
}
.input-box {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 90px;
  padding-right: 70px;
  border-radius: 11px;
}
.input-area:hover {
}
.title {
  margin-bottom: 60px;
  color: black;
  font-size: 14px;
}
#text-input {
  border: solid 2px blue;
}
#check-btn {
  border-radius: 12px;
  padding: 8px 25px 8px 25px;
  background-color: blue;
  font-size: 10px;
  color: white;
}
.definition {
  width: 350px;
  margin-top: 20px;
  padding: 20px;
  color: white;
  background-color: green;
  border-radius: 10px;
}
